<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "AutoWash",
  "name" : "Quick Hand Car Wash & Detailing",
  "url" : "https://www.quickcarwash.ca",
  "sameAs" : [
    "https://www.instagram.com/quickhandcarwash/",
    "https://www.facebook.com/pages/Quick-Hand-Car-Wash-Detailing-1756553531256654/",
 ]
}
</script> 
<span itemscope itemtype="http://schema.org/Restaurant">
<div id="header">
    <div class="logo-wrapper container">
    	<a href="/"><img itemprop="image" class="logo" src="/assets/images/logo.png" alt="Logo" /></a>
      <div class="slogan">Quality Work With Low Rates!</div>
	</div>
	<div class="nav-wrapper container">
        
    <div id="nav-toggle" class="visible-sm is-closed">
        <div class="bar-icon">
          <div class="bar-container">
            <span class="bar-top"></span>
            <span class="bar-middle"></span>       
            <span class="bar-bottom"></span>
          </div>
        </div>	
    </div> 
    
		<nav class="nav-header">
			<ul>  
          <li>
            <a class="page-link" href="#home">Home</a>
          </li>
          <li>
            <a class="page-link" href="#services">Services</a>
          </li>          
          <li>
            <a class="page-link" href="#about">About</a>
          </li>
          <li>
            <a class="page-link" href="#footer">Contact</a>
          </li>   
          <li>
            <a class="page-link order" href="tel:289-339-0360" target="_blank"><i class="fa fa-phone"></i> Call</a>
          </li>                                                 
			</ul>
		</nav>
	</div>
</div>