<head>    
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>Quick Hand Car Wash & Detailing | Hamilton | Stoney Creek</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<base href="/"/>
    <meta name="theme-color" content="#0070c0" />
    <meta property="og:site_name" content="Quick Hand Car Wash & Detailing"/>
    <meta property="og:description" content=""/>          

    <link rel="shortcut icon" href="/assets/images/favicon.jpg"/>
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/assets/images/favicon.jpg" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/images/favicon.jpg" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/images/favicon.jpg" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/images/favicon.jpg" />
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,700" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">

    

	
</head>    